In [57]:
import numpy as np
import pandas as pd

data_cluster = pd.read_excel("LDA_Scikit_Cluster_Labeled.xlsx")
data_others = pd.read_csv("Company_Dataset/dataset_others.csv")
data_others = data_others.dropna(subset=["company_Link"])
print(data_cluster.shape)
print(data_others.shape)

(687, 12)
(687, 20)

They have similar entries which means they could be concatenated without any issue.

In [58]:
data_cluster.head()

,Unnamed: 0,Cluster 0,Cluster 1,Cluster 2,Cluster 3,Cluster 4,Cluster 5,Cluster 6,Cluster 7,Cluster 8,Cluster 9,dominant_topic
0,Job 0,0.0,0.0,0.0,0.00,0.0,0.0,0.23,0.68,0.0,0.09,7
1,Job 1,0.0,0.0,0.0,0.00,0.0,0.0,1.00,0.00,0.0,0.00,6
2,Job 2,0.0,0.0,0.0,0.48,0.0,0.0,0.02,0.17,0.0,0.33,3
3,Job 3,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.99,0.0,0.00,7
4,Job 4,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.99,0.0,0.00,7

In [59]:
data_others['Clusters_Labelled'] = data_cluster['dominant_topic'].to_numpy() #to stop index alignment issue
data_others.head(3)

,Company,job_name,job_link,ML Labeled Function,city,country,Function,employment_type,remote,seniority level,Job Status,Date Reviewed,data analyst,company_Link,job_location,job_details,job_id,posting_error,description,Clusters_Labelled
0,Spectrum,Sr Technical Writer,https://sjobs.brassring.com/TGnewUI/Search/hom...,Other,Englewood,United States,Full-time,No,Mid-Senior Level,to be reviewed,NaN,NaN,NaN,JOB SUMMARYThis position is responsible for de...,4175936f-1a2c-4635-a536-4348d5bf89f5,NaN,https://www.smartrecruiters.com/Humanity/74399...,NaN,NaN,7
1,Spectrum,Production Specialist I - Spectrum News 13 Orl...,https://sjobs.brassring.com/TGnewUI/Search/hom...,Other,Orlando,United States,Full-time,No,Mid-Senior Level,to be reviewed,NaN,NaN,NaN,"Spectrum Networks is looking for enthusiastic,...",fc34ab5f-ee2d-4145-81c4-126f52b1df35,NaN,https://www.smartrecruiters.com/Humanity/74399...,NaN,NaN,6
2,Spectrum,"Manager, Advanced Advertising Sales - Ad Sales",https://sjobs.brassring.com/TGnewUI/Search/hom...,Other,Los Angeles,United States,Full-time,No,Mid-Senior Level,to be reviewed,NaN,NaN,NaN,Spectrum Reach is looking for a dynamic Manage...,60391e39-17ba-4de2-a564-ede2412d6791,NaN,https://www.smartrecruiters.com/Humanity/74399...,NaN,NaN,3

In [60]:
data_others['Clusters_Labelled'].unique()

array([7, 6, 3, 2, 8, 9, 0, 5, 4, 1], dtype=int64)

In [67]:
job_cluster_dict = {
    0 : "Accounting/Auditing",
    1 : "Accounting/Auditing",
    2 : "Civil Construction",
    3 : "Advertising",
    4 : "Training/Internship",
    5 : "Training/Internship",
    6 : "Writing/Editing",
    7 : "Customer Service",
    8 : "Team manager",
    9 : "Customer Service"
}

data_others = data_others.replace({"Clusters_Labelled": job_cluster_dict})
data_others.head(3)

,Company,job_name,job_link,ML Labeled Function,city,country,Function,employment_type,remote,seniority level,Job Status,Date Reviewed,data analyst,company_Link,job_location,job_details,job_id,posting_error,description,Clusters_Labelled
0,Spectrum,Sr Technical Writer,https://sjobs.brassring.com/TGnewUI/Search/hom...,Other,Englewood,United States,Full-time,No,Mid-Senior Level,to be reviewed,NaN,NaN,NaN,JOB SUMMARYThis position is responsible for de...,4175936f-1a2c-4635-a536-4348d5bf89f5,NaN,https://www.smartrecruiters.com/Humanity/74399...,NaN,NaN,Customer Service
1,Spectrum,Production Specialist I - Spectrum News 13 Orl...,https://sjobs.brassring.com/TGnewUI/Search/hom...,Other,Orlando,United States,Full-time,No,Mid-Senior Level,to be reviewed,NaN,NaN,NaN,"Spectrum Networks is looking for enthusiastic,...",fc34ab5f-ee2d-4145-81c4-126f52b1df35,NaN,https://www.smartrecruiters.com/Humanity/74399...,NaN,NaN,Writing/Editing
2,Spectrum,"Manager, Advanced Advertising Sales - Ad Sales",https://sjobs.brassring.com/TGnewUI/Search/hom...,Other,Los Angeles,United States,Full-time,No,Mid-Senior Level,to be reviewed,NaN,NaN,NaN,Spectrum Reach is looking for a dynamic Manage...,60391e39-17ba-4de2-a564-ede2412d6791,NaN,https://www.smartrecruiters.com/Humanity/74399...,NaN,NaN,Advertising

In [68]:
data_others.to_csv("Company_Dataset/dataset_others.csv", index=False)

In [75]:
#Final Dataset Creation
data_ml_labelled = pd.read_csv("Company_Dataset/dataset_ml_labeled.csv")
data_others['Clusters_Labelled'] = data_others['ML Labeled Function']
data_others = data_others.drop(['Clusters_Labelled'], axis=1)
frames = [data_ml_labelled, data_others]
data_final = pd.concat(frames)
data_final.shape

(4021, 19)

In [76]:
data_final.head(3)

,Company,job_name,job_link,ML Labeled Function,city,country,Function,employment_type,remote,seniority level,Job Status,Date Reviewed,data analyst,company_Link,job_location,job_details,job_id,posting_error,description
0,Spectrum,"Outside Sales Representative | $5,000 Sign On ...",https://sjobs.brassring.com/TGnewUI/Search/hom...,Sales,Opelika,United States,Full-time,No,Mid-Senior Level,to be reviewed,NaN,NaN,NaN,"$5,000 Sign On Bonus* + $2,500 training pay + ...",d74c82fb-27f8-435c-b54b-14ebccc7e9cd,NaN,https://www.smartrecruiters.com/Humanity/74399...,NaN,NaN
1,Spectrum,Advertising Account Executive- New Business,https://sjobs.brassring.com/TGnewUI/Search/hom...,Sales,Bay City,United States,Full-time,No,Mid-Senior Level,to be reviewed,NaN,NaN,NaN,Tenacious go-getter. Inquisitive problem solve...,11a21cd7-86c2-48a4-96b9-83fc59e428c1,NaN,https://www.smartrecruiters.com/Humanity/74399...,NaN,NaN
2,Spectrum,"Editor, Media Ingest - Spectrum News Raleigh",https://sjobs.brassring.com/TGnewUI/Search/hom...,Writing/Editing,Raleigh,United States,Full-time,No,Mid-Senior Level,to be reviewed,NaN,NaN,NaN,"Spectrum Networks is looking for enthusiastic,...",8e3143f9-e449-49fa-b2b7-a8fd30234c82,NaN,https://www.smartrecruiters.com/Humanity/74399...,NaN,NaN

In [77]:
data_final['ML Labeled Function'].unique()

array(['Sales', 'Writing/Editing', 'Engineering',
       'Information Technology', 'Analyst', 'Human Resources',
       'Customer Service', 'Project Management', 'Accounting/Auditing',
       'Management', 'Production', 'Training', 'Public Relations',
       'Product Management', 'Design', 'Education', 'Finance',
       'General Business', 'Business Development', 'Marketing',
       'Administrative', 'Art/Creative', 'Legal', 'Quality Assurance',
       'Advertising', 'Purchasing', 'Science', 'Health Care Provider',
       'Manufacturing', 'Strategy/Planning', 'Supply Chain', 'Research',
       'Distribution', 'Other'], dtype=object)

In [78]:
data_final.to_csv("Company_Dataset/dataset_final.csv", index=False)